body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: end;
  gap: 20px;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
}
.parent-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: rgb(40, 40, 206);
  color: white;
}

.container2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container3 {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.image-container {
  background-image: url(images/imageFT.jpg);
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 3rem;
  padding-top: 30vh;
}

button {
  background-color: rgba(8, 8, 233, 0.315);
  color: white;
  border: 1px solid blue;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 5rem;
}

button:hover {
  background-color: rgba(8, 8, 233, 0.815);
  font-size: 10rem;
}

div > h3 {
  color: white;
}

li {
  display: inline;
  padding: 10px;
  text-align: center;
}

li:hover {
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
}